<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This site was created by 
<ul>
  <li>Sidharth Goel</li>
  <li>Anusha Jain</li>
  <li>Shaurya Kalsi</li>
  <li>Chaitanya Mittal</li>
</ul>
for the Rails Decal

</p>
