<div class="container">
  <div class="row">
    <%= button_to "Create", new_project_path(), :class => "button medium", :method => :get %> <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3>Projects</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <%= render project %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
